.counter {
  display: flex;
  align-items: center;

  &__minus {
    background-image: url(../../imgs/icons/minus.svg);
  }
  &__plus {
    background-image: url(../../imgs/icons/plus.svg);
  }
  &__btn {
    width: 20px;
    height: 20px;
    background-color: var(--color-light);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
    border-radius: 4px;
    &:disabled {
      opacity: 0.5;
    }
  }
  &__value {
    font-size: 2rem;
    margin: 0 .8rem;
  }
}
