.card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  &__img {
    display: block;
    border-radius: var(--border-radius);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
  &__info {
    flex-grow: 1;
    margin-left: 12px;
  }
  &__title {
    display: block;
    font-weight: 600;
    margin-bottom: 0.8rem;

    &:hover {
      color: var(--color-light);
    }
  }
  &__genre {
    margin: 0;
    font-style: italic;
  }
  &__counter {
    margin-left: auto;
  }
}
